In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("jokes-data.csv")

In [3]:
data

                id  user_id  joke_id  Rating
0        31030_110    31030      110   2.750
1        16144_109    16144      109   5.094
2          23098_6    23098        6  -6.438
3         14273_86    14273       86   4.406
4        18419_134    18419      134   9.375
...            ...      ...      ...     ...
1092054   9517_132     9517      132   3.156
1092055  27767_118    27767      118  -1.594
1092056   10580_81    10580       81   2.000
1092057  31007_119    31007      119   8.906
1092058    8420_98     8420       98  -3.344

[1092059 rows x 4 columns]

In [4]:
df= data.iloc[0:50000]

In [5]:
df.head()

          id  user_id  joke_id  Rating
0  31030_110    31030      110   2.750
1  16144_109    16144      109   5.094
2    23098_6    23098        6  -6.438
3   14273_86    14273       86   4.406
4  18419_134    18419      134   9.375

In [6]:
df.columns

Index(['id', 'user_id', 'joke_id', 'Rating'], dtype='object')

In [7]:
df.shape

(50000, 4)

In [8]:
df['user_id'].nunique()

24175

In [9]:
df['joke_id'].nunique()

139

In [10]:
##### surprise

In [11]:
!pip install surprise

Requirement already satisfied: surprise in c:\users\indup\anaconda3\lib\site-packages (0.1)
Requirement already satisfied: scikit-surprise in c:\users\indup\anaconda3\lib\site-packages (from surprise) (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in c:\users\indup\anaconda3\lib\site-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\indup\anaconda3\lib\site-packages (from scikit-surprise->surprise) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\indup\anaconda3\lib\site-packages (from scikit-surprise->surprise) (1.7.3)

WARNING: Ignoring invalid distribution -ip (c:\users\indup\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\users\indup\anaconda3\lib\site-packages)

In [12]:
#### collobarative filteing

In [13]:
#### user_id,joke_id,rating

In [14]:
df = df.drop("id", axis=1)

In [15]:
df

       user_id  joke_id  Rating
0        31030      110   2.750
1        16144      109   5.094
2        23098        6  -6.438
3        14273       86   4.406
4        18419      134   9.375
...        ...      ...     ...
49995    26450      118   8.719
49996     2172        4   0.312
49997    29209      112  -7.469
49998     3026        8   5.562
49999     7412      119   6.688

[50000 rows x 3 columns]

In [16]:
from surprise import Reader, Dataset, KNNBasic, SVD

In [17]:
##### define a reader object
#### the reader object helps in parsing the file or dataframe containing ratings

In [18]:
reader = Reader()

In [19]:
#### create a the dataset to be used for building the filter

In [20]:
data1 = Dataset.load_from_df(df, reader)

In [21]:
data1

SVD

In [22]:
algo1 = SVD()

In [23]:
from surprise.model_selection import cross_validate

In [24]:
cross_validate(algo1, data1, measures = ["RMSE"], cv = 5, verbose = True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    5.0625  4.9730  5.0655  5.0262  4.9999  5.0254  0.0357
Fit time          0.91    0.91    0.95    0.94    1.00    0.94    0.04
Test time         0.13    0.13    0.16    0.13    0.22    0.15    0.04

{'test_rmse': array([5.06253781, 4.97296144, 5.06545798, 5.02624902, 4.99991787]),
 'fit_time': (0.9069523811340332,
  0.9063100814819336,
  0.9547960758209229,
  0.9386794567108154,
  1.001286506652832),
 'test_time': (0.12525582313537598,
  0.12508177757263184,
  0.15604686737060547,
  0.12500810623168945,
  0.21898412704467773)}

In [25]:
algo=KNNBasic

In [26]:
#cross_validate(algo, data1, measures = ["RMSE"],cv = 5,verbose = True)

In [27]:
df_test = pd.read_csv('jokes-data.csv')
df_test.head(10)

          id  user_id  joke_id  Rating
0  31030_110    31030      110   2.750
1  16144_109    16144      109   5.094
2    23098_6    23098        6  -6.438
3   14273_86    14273       86   4.406
4  18419_134    18419      134   9.375
5    5782_14     5782       14  -1.781
6   34059_62    34059       62   6.250
7     1159_9     1159        9  -2.906
8   17736_32    17736       32  -5.750
9   22626_22    22626       22   1.656

In [28]:
df_test.nunique()

id         1092059
user_id      40863
joke_id        139
Rating         641
dtype: int64

In [29]:
df_test.drop('id', axis=1, inplace=True)

In [30]:
test_reader = Reader()
test_data = Dataset.load_from_df(df_test, test_reader)

In [31]:
test_data