Assignment:  to do the tasks of tokenization, stop words removal , lemmatization and stemming along with normalization and cleaning on the dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("1429_1.csv")
df.head()

C:\Users\indup\AppData\Local\Temp\ipykernel_5984\2400663780.py:1: DtypeWarning: Columns (1,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("1429_1.csv")

,id,name,asins,brand,categories,keys,manufacturer,reviews.date,reviews.dateAdded,reviews.dateSeen,...,reviews.doRecommend,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username
0,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,This product so far has not disappointed. My c...,Kindle,NaN,NaN,Adapter
1,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,great for beginner or experienced person. Boug...,very fast,NaN,NaN,truman
2,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,NaN,NaN,DaveZ
3,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,4.0,http://reviews.bestbuy.com/3545/5620406/review...,I've had my Fire HD 8 two weeks now and I love...,Good!!!,NaN,NaN,Shacks
4,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-12T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,NaN,NaN,explore42

In [3]:
df.shape

(34660, 21)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34660 entries, 0 to 34659
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    34660 non-null  object
 1   name                  27900 non-null  object
 2   asins                 34658 non-null  object
 3   brand                 34660 non-null  object
 4   categories            34660 non-null  object
 5   keys                  34660 non-null  object
 6   manufacturer          34660 non-null  object
 7   reviews.date          34621 non-null  object
 8   reviews.dateAdded     24039 non-null  object
 9   reviews.dateSeen      34660 non-null  object
 10  reviews.didPurchase   1 non-null      object
 11  reviews.doRecommend   34066 non-null  object
 12  reviews.id            1 non-null      float64
 13  reviews.numHelpful    34131 non-null  float64
 14  reviews.rating        34627 non-null  float64
 15  reviews.sourceURLs    34660 non-null  object
 16  reviews.text          34659 non-null  object
 17  reviews.title         34655 non-null  object
 18  reviews.userCity      0 non-null      float64
 19  reviews.userProvince  0 non-null      float64
 20  reviews.username      34658 non-null  object
dtypes: float64(5), object(16)
memory usage: 5.6+ MB

In [5]:
df.isna().sum()

id                          0
name                     6760
asins                       2
brand                       0
categories                  0
keys                        0
manufacturer                0
reviews.date               39
reviews.dateAdded       10621
reviews.dateSeen            0
reviews.didPurchase     34659
reviews.doRecommend       594
reviews.id              34659
reviews.numHelpful        529
reviews.rating             33
reviews.sourceURLs          0
reviews.text                1
reviews.title               5
reviews.userCity        34660
reviews.userProvince    34660
reviews.username            2
dtype: int64

In [6]:
df=df[['reviews.title','reviews.text',]]
df=df.astype(str)
df.head()

,reviews.title,reviews.text
0,Kindle,This product so far has not disappointed. My c...
1,very fast,great for beginner or experienced person. Boug...
2,Beginner tablet for our 9 year old son.,Inexpensive tablet for him to use and learn on...
3,Good!!!,I've had my Fire HD 8 two weeks now and I love...
4,Fantastic Tablet for kids,I bought this for my grand daughter when she c...

In [7]:
df.isna().sum()

reviews.title    0
reviews.text     0
dtype: int64

Removing Punctuations

In [8]:
import string

PUNCT_TO_REMOVE = string.punctuation

def remove_punctuation(text):
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

df[['reviews.title', 'reviews.text']] = df[['reviews.title', 'reviews.text']].apply(lambda column: column.apply(remove_punctuation))
df.head()

,reviews.title,reviews.text
0,Kindle,This product so far has not disappointed My ch...
1,very fast,great for beginner or experienced person Bough...
2,Beginner tablet for our 9 year old son,Inexpensive tablet for him to use and learn on...
3,Good,Ive had my Fire HD 8 two weeks now and I love ...
4,Fantastic Tablet for kids,I bought this for my grand daughter when she c...

Removal of stopwords

In [9]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\indup\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [10]:
from nltk.corpus import stopwords
", ".join(stopwords.words('english'))

"i, me, my, myself, we, our, ours, ourselves, you, you're, you've, you'll, you'd, your, yours, yourself, yourselves, he, him, his, himself, she, she's, her, hers, herself, it, it's, its, itself, they, them, their, theirs, themselves, what, which, who, whom, this, that, that'll, these, those, am, is, are, was, were, be, been, being, have, has, had, having, do, does, did, doing, a, an, the, and, but, if, or, because, as, until, while, of, at, by, for, with, about, against, between, into, through, during, before, after, above, below, to, from, up, down, in, out, on, off, over, under, again, further, then, once, here, there, when, where, why, how, all, any, both, each, few, more, most, other, some, such, no, nor, not, only, own, same, so, than, too, very, s, t, can, will, just, don, don't, should, should've, now, d, ll, m, o, re, ve, y, ain, aren, aren't, couldn, couldn't, didn, didn't, doesn, doesn't, hadn, hadn't, hasn, hasn't, haven, haven't, isn, isn't, ma, mightn, mightn't, mustn, mustn't, needn, needn't, shan, shan't, shouldn, shouldn't, wasn, wasn't, weren, weren't, won, won't, wouldn, wouldn't"

In [11]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

df[['reviews.title','reviews.text']]=df[['reviews.title','reviews.text']].applymap(lambda text:remove_stopwords(text))
df.head()

,reviews.title,reviews.text
0,Kindle,This product far disappointed My children love...
1,fast,great beginner experienced person Bought gift ...
2,Beginner tablet 9 year old son,Inexpensive tablet use learn step NABI He thri...
3,Good,Ive Fire HD 8 two weeks I love This tablet gre...
4,Fantastic Tablet kids,I bought grand daughter comes visit I set user...

Stemming

In [12]:
from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()
def stem_words(text):
    return " ".join([stemmer.stem(word) for word in text.split()])

df[['reviews.title_stemmed','reviews.text_stemmed']]=df[['reviews.title','reviews.text']].applymap(lambda text:stem_words(text))
df.head()

,reviews.title,reviews.text,reviews.title_stemmed,reviews.text_stemmed
0,Kindle,This product far disappointed My children love...,kindl,thi product far disappoint my children love us...
1,fast,great beginner experienced person Bought gift ...,fast,great beginn experienc person bought gift love
2,Beginner tablet 9 year old son,Inexpensive tablet use learn step NABI He thri...,beginn tablet 9 year old son,inexpens tablet use learn step nabi he thrill ...
3,Good,Ive Fire HD 8 two weeks I love This tablet gre...,good,ive fire hd 8 two week i love thi tablet great...
4,Fantastic Tablet kids,I bought grand daughter comes visit I set user...,fantast tablet kid,i bought grand daughter come visit i set user ...

Lemmatization

In [13]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\indup\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [14]:
from nltk.stem import WordNetLemmatizer

lemmatizer=WordNetLemmatizer()
def lemmatize_words(text):
  return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

df[['reviews.title_lemmatized','reviews.text_lemmatized']]=df[['reviews.title','reviews.text']].applymap(lambda text:lemmatize_words(text))
df.head()

,reviews.title,reviews.text,reviews.title_stemmed,reviews.text_stemmed,reviews.title_lemmatized,reviews.text_lemmatized
0,Kindle,This product far disappointed My children love...,kindl,thi product far disappoint my children love us...,Kindle,This product far disappointed My child love us...
1,fast,great beginner experienced person Bought gift ...,fast,great beginn experienc person bought gift love,fast,great beginner experienced person Bought gift ...
2,Beginner tablet 9 year old son,Inexpensive tablet use learn step NABI He thri...,beginn tablet 9 year old son,inexpens tablet use learn step nabi he thrill ...,Beginner tablet 9 year old son,Inexpensive tablet use learn step NABI He thri...
3,Good,Ive Fire HD 8 two weeks I love This tablet gre...,good,ive fire hd 8 two week i love thi tablet great...,Good,Ive Fire HD 8 two week I love This tablet grea...
4,Fantastic Tablet kids,I bought grand daughter comes visit I set user...,fantast tablet kid,i bought grand daughter come visit i set user ...,Fantastic Tablet kid,I bought grand daughter come visit I set user ...